{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1> {{ program.title }} Saison : {{ season.number }}</h1>
    </div>
        <div>
            <img src="{{ program.poster }}" alt="picture">
            <h5> {{ episode.title }} </h5>

            <p>{{ episode.number }}</p>

            <p>{{ episode.synopsis }}</p>

        </div>

    <a href="{{ path('app_index') }}">
        Page d'accueil
    </a>


{% endblock %}