{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : </h1>
    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}
    {% for program in programs %}
        <div>
          <h2>{{ loop.index }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            <div class="container-fluid">
                <a href="{{ path('wild_show_programId', {programId: program.id({' ': '-'})}) }}"
                   class="btn btn-secondary btn-lg">Voir les saisons </a>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
