{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1> {{ program.title }} Saison : {{ season.number }}</h1>
    </div>

    {% for episode in episodes %}
        <div>
            <h5> {{ episode.title }} </h5>

            <p>{{ episode.number }}</p>

            <p>{{ episode.synopsis }}</p>

        </div>
    {% else %}
        Merci de faire une nouvelle recherche.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Page d'accueil
    </a>


{% endblock %}