{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1> {{ program.title }} Saison : {{ season.number }}</h1>
    </div>

    {% for episode in episodes %}
        <div>
            <a href="{{ path('wild_show_episode', {'id': episode.id}) }}"> Episode {{ episode.number }} </a>
            <p>{{ episode.number }}</p>
            <h5> {{ episode.title }} </h5>
            </a>
        </div>
    {% else %}
        Merci de faire une nouvelle recherche.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Page d'accueil
    </a>


{% endblock %}
